.pokemon-card {
  max-width: 400px;
}


.pokemon-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonCard-container{
  display: flex;
  justify-content: center;
}


.btn-primary {
  color: blue;
}
.btn-danger {
  color: red;
}

.cardButtonsRow{
  display: flex;
  flex-direction: row;
}
