<div class="pokemonCard-container">
  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title>
        {{ pokemon!.name.charAt(0).toUpperCase() + pokemon!.name.slice(1) }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="cardPage == 1">
      <img
        mat-card-image
        src="{{ pokemon?.sprites?.front_default }}"
        alt="Photo of a pokemon"
      />
    </mat-card-content>
    <mat-card-content *ngIf="cardPage == 2">
      <div *ngFor="let stat of pokemon?.stats">
        <h3>
          {{ stat.stat.name.charAt(0).toUpperCase() + stat.stat.name.slice(1) }}
        </h3>
        <p>Base : {{ stat.base_stat }}</p>
        <p>Effort : {{ stat.effort }}</p>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="cardPage == 3">
      <p>Abilities :</p>

      <div *ngFor="let abilityList of pokemon?.abilities">
        <p>
          {{ abilityList.ability.name }}
        </p>
      </div>
      <p>Height : {{ pokemon?.height }}</p>
      <p>Base XP : {{ pokemon?.base_experience }}</p>
      <p>Type :</p>
      <div *ngFor="let typeList of pokemon?.types">
        <p>
          {{ typeList.type.name }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <p>Page n°: {{ cardPage }}</p>
    </mat-card-actions>
    <div class="cardButtonsRow">
      <div *ngFor="let button of cardButtons">
        <button mat-button (click)="button.click()">
          <mat-icon>{{ button.iconName }}</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
