<div class="container">
  <h1>Pokemons</h1>

  <a href="#" routerLink="/post/create/" class="btn btn-success">Pokemons</a>

  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let pokemon of pokemons">
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.url }}</td>
      <td>{{ pokemon.url.slice(34)}}</td>
      <td>{{pokemon.url.slice(34, pokemon.url.lastIndexOf("/"))}}</td>

      <td>
        <a [routerLink]="['pokemon/',${pokemon.url.slice(34, pokemon.url.lastIndexOf(" /"))} ]"
          class="btn btn-info">Details</a>
        <a href="#" routerLink="pokemon/:pokemon.url.slice(34)" class="btn btn-primary">Edit</a>
        <a routerLink="" routerLinkActive="active">Home</a>
        <a routerLink="post/:pokemonId/stats">About</a>
        <a routerLink="dashboard">Dashboard</a>
        <button type="button" (click)="(pokemon.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</div>

// routerLink="../post/details/:pokemonId/"