<mat-paginator
  (page)="loadPage($event)"
  [length]="length"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  aria-label="Select page"
>
</mat-paginator>
<div>
  <h1>Pokedex</h1>
  <div mat-subheader>Pokemons List</div>
  <input [(ngModel)]="searchText" />
  <mat-list role="list">
    <mat-list-item
      *ngFor="let pokemon of listOfPokemons | filterPipe: searchText"
      role="listitem"
    >
      <mat-icon [routerLink]="['/view/', pokemon.name]" mat-list-icon
        >note</mat-icon
      >
      <div mat-line>
        {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}
      </div>
    </mat-list-item>
  </mat-list>
  <!--   <mat-list role="list">
    <mat-list-item
      *ngFor="let pokemon of filteredPokemons; let i = index" | filterPipe:filterBy
      role="listitem"
    >
      <mat-icon [routerLink]="['/view/', pokemon.name]" mat-list-icon
        >note</mat-icon
      >
      <div mat-line>
        {{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}
      </div>
    </mat-list-item>
  </mat-list> -->
</div>
